<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48474">  <td>21/10/20 15:28:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GalenSample$SampleUILayoutTest.checkLogoVisible()[pri:0, instance:com.galen.GalenSample$SampleUILayoutTest@4c70fda8]">checkLogoVisible</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>21/10/20 15:28:26</td>   <td>-24224</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GalenSample$SampleUILayoutTest.init()[pri:0, instance:com.galen.GalenSample$SampleUILayoutTest@4c70fda8]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>21/10/20 15:29:08</td>   <td>17683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GalenSample$SampleUILayoutTest.reportUpdate()[pri:0, instance:com.galen.GalenSample$SampleUILayoutTest@4c70fda8]">&lt;&lt;reportUpdate</td> 
<td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>21/10/20 15:29:09</td>   <td>18313</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GalenSample$SampleUILayoutTest.tearDown()[pri:0, instance:com.galen.GalenSample$SampleUILayoutTest@4c70fda8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
</table>
